.contact{
  padding: 6.25rem 1.25rem;
}

textarea, input {
  width: 100%;
  padding: 0.875rem;
  margin-top: 1.25rem;
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  padding-left: 1.125rem;
  font-size: 0.8125rem;
  background-color: transparent;
  color: #495057;
}

textarea:focus,
input:focus{
  outline: 0;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__firtname {
  padding-right: 0.94rem;
  width: 50%;
}

.contact__email {
  padding-left: 0.94rem;
  width: 50%;
}

.contact__send{
  margin-top: 1.875rem;
}