/* GLOBL */
* {
  box-sizing: border-box;
}

body{
  font-family:"Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.5px;
}

*:focus{
  outline: 2px dotted #05364D;
  outline-offset: 3px;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* MAIN HEADER STYLES */
.main-header{
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  z-index: 10;
}

.main-header__brand {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 15px;
}

.main-header__brand img {
  width: 64px;
}

.main-navigation{
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item {
  display: inline-block;
  padding: 10px;
}

.main-navigation__item a{
  color: #05364D;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation__item a:hover{
  color: #efb6df;
}
.main-navigation__item.active a{
  color: #efb6df;
}

.to-uppercase {
  text-transform: uppercase;
}

.clearfix{
  clear: both;
}
