/* GLOBL */
:root{
    --pink-color:#efb6df;
    --dark-blue-color: #05364d;
}
* {
    box-sizing: border-box;
}

    /* Gogle fonts */
    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/') format('woff2'),
            url('../fonts/Roboto-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
            url('../fonts/Roboto-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
            url('../fonts/Roboto-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    html {
        scroll-behavior: smooth;
    }


    body{
    font-family:"Roboto", "Arial", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

    *:focus{
    outline: 2px dotted var(--dark-blue-color);
    outline-offset: 3px;
}

a {
    transition: all 0.3s ease-in-out;
}

    /* CONTAINER */
.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0 auto;
}

    /* MAIN HEADER STYLES */
.main-header{
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header .container {
    display: flex;
    align-items: center;
}

    .main-navigation__item {
    display: inline-block;
    padding: 10px;
}

    .main-navigation__item a{
    color: var(--dark-blue-color);
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

    .main-navigation__item a:hover{
    color: var(--pink-color);
}
    .main-navigation__item.active a{
    color: var(--pink-color);
}

    .to-uppercase {
    text-transform: uppercase;
}

    .clearfix{
    clear: both;
}

.main-header__brand img {
    width: 64px;
    object-fit: cover;
}


/* MAIN SECTION */
.main-banner{
    background: url(../img/main-banner.png) no-repeat top center;
    background-position: center center;
    background-size: cover;
    min-height: 890px;
}

.main-section {
    padding: 6.25rem 1.875rem;
    display: flex;
    justify-content: space-between;
}

.main-section__img{
    text-align: right;
}

.main-section__welcom {
    letter-spacing: 2px;
    margin-bottom: 1.25rem;
    color: #797979;
}

.main-section__introduction {
    font-weight: 500;
    font-family:"Roboto Condansed","Roboto","Arial" sans-serif;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--dark-blue-color);
}

.main-section__position{
    color: var(--dark-blue-color);
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}
.main-section__social-networks a{
    color: #8fa1aa;
    font-size: 1.25rem;
    display: inline-block;
    margin-right:1rem;
}

.main-section__social-networks a:hover i{
    color: #1c44e4;
}

.main-section__action{
    margin-top: 30px;
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.main-section__action:hover{
    background-position: right center;
}

/*STATISTICS SECTION*/
.statistics{
    display: flex;
    padding-top: 6.25rem;
}

.statistics__item{
    background-color: #f8faff;
    text-align: center;
    padding: 0.3125rem 0.625rem;
    margin-right: 1.25rem;
    width: 150px;
}

.statistics_number{
    font-size: 1.687rem;
    margin-bottom: 0.3125rem;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
}

.statistics__title{
    font-size: 1rem;
    color: #797979;
}


/* ABOUT ME SECTION */
.about-me {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 6.25rem 0px;
}

.about-me__img {
    margin-right: 3.56rem;
}

.section-subtitle{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #797979;
    font-size: 0.875rem;
    margin: 1.375rem 0px 0.625rem;
}

.section-title{
    margin-top: 0.3125rem;
    font-size: 2.625rem;
    font-weight: 700;
    text-transform: capitalize;
    color:var(--dark-blue-color);
}

.about-me__description{
    color: #797979;
    font-size: 0.875rem;
    margin: 0.875rem 0px;
    line-height: 1.687rem;
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 0.3125rem;
    width: 80px;
    height: 4px;
    background-color: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
}

.main-section__action{
    margin-top: 2.5rem;
}


/* SERVIVICES SECTION */
.services {
    padding-top: 6.25rem;
}

.services-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.services-cards {
    padding-top: 6.25rem;
}

.services-card {
    padding: 3.75rem 1.875rem;
    background-color: #f8faff;
    text-align: center;
    margin-right: 3%;
    transition: all .4s ease;
}

.services-cars__title{
    color: var(--dark-blue-color);
    font-size: 1.25rem;
    margin: 2.1rem 0px 1.25rem;
    text-transform: uppercase;
}

.services-card__description{
    color: #797979;
    line-height: 1.687rem;
}

.services-card__link{
    color: var(--dark-blue-color);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.services-card:hover {
    background-color: #5f30ff;
}

.services-card:hover .services-cars__title ,
.services-card:hover .services-card__description ,
.services-card:hover .services-card__link {
    color: #fff;
}


/* CLIENTS SECTION */
.clients {
    padding-top: 6.25rem;
}

.client-item {
    display: flex;
    align-items: center;
}

.client-item > div {
    flex: 1;
}

.clients-item__info{
    padding-left: 3.125rem;
}

.client-item__name{
    color: #000;
    font-size: 20px;
    margin: 1.375rem 0px 0.25rem;
}

.client-item__position{
    color: #5b6d75;
    margin: 0.875rem 0px;
}

.client-item__review{
    line-height: 1.687rem;
    color: #5b6d75;
}

.client-item__rate{
    color: #ffd805;
}

.clients-item__img {
    width: 660px;
    height: 549px;
    object-fit: cover;
}


/* PORTFOLIO SECTION */
.portfolio-filters li {
    padding-left: 0;
    text-transform: uppercase;
    margin-right: 2.5rem;
    transition: color 0.4s ease;
    cursor: pointer;
}

.portfolio-filters li:hover{
    color: #1345e6;
}

.portfolio-filters li.active{
    color: #1345e6;
}

.portfolio-title{
    margin-bottom: 3.125rem;
}
.section-subtitle {
    margin-bottom: 0.625rem;
    margin-top: 0;
}

.active:not(:last-child) {
    margin-right: 2.5rem;
}


/* POTFOLIO-ITEM */
.portfolio {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.portfolio-items{
    position: relative;
    margin-top: 3.125rem;
}

.portfolio-filters{
    display: flex;
    align-items: center;
    list-style: none;
}

.portfolio-item{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
}

.portfolio-item-2{
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item-3{
    position: absolute;
    top: 322px;
    right: 0;
}

.portfolio-item__img{
    width: 100%;
}

.portfolio-item__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s ease;
}

.portfolio-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.portfolio-item__info a{
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay{
    opacity: 0.9;
    visibility: visible;
    top: 20px;
    left: 20px;
    background: rgba(19, 69, 230, 0.9);

}

.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 24px;
    left: 60px;
    opacity: 1;
}


/* BLOG-SECTION-STYLES */
.blog{
    padding-top: 6.25rem;
}

.blog-items {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
}

.blog-item {
    overflow: hidden;
    margin-right: 3%;
}

.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item__info {
    background-color: #fff;
}

.blog-item__image {
    overflow: hidden;
}

.blog-item__image img {
    width: 100%;
    vertical-align: middle;
    transition: all .4s ease;
}

.blog-item:hover .blog-item__image img {
    transform: scale(1.1);
}

.blog-item__info {
    width: 360px;
    background-color: #f8faff;
    padding: 1.875rem;
    color: #797979;
}

.blog-item__main-info span{
    font-size: 0.875rem;
    font-weight: 500;
}

.blog-item__authour {
    margin-right: 1.875rem;
}

.blog-item__info i {
    margin-right: .3125rem;
}

.blog-item__title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: var(--dark-blue-color);
    font-weight: 700;
}

.blog-item__description {
    line-height: 1.687rem;
    font-weight: 500;
    font-size: 15px;
}

.blog-item__learn-more {
    position: relative;
    font-size: 0.8125rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-blue-color);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.4s ease;
}

.blog-item__learn-more::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;
    height: 2px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background: -webkit-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: -moz-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: -o-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.blog-item__learn-more:hover {
    color: #ed239f;
}



/* Partners section styles */
.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 6.25rem;
}

.partner {
    padding: 0;
}

.partner:not(:last-child){
    padding-right: 1.875rem;
}


/* FOOTER */
.footer {
    padding: 3.125rem 0;
    margin-top: 100px;
    background-color: #021017;
    text-align: center;
}

.footer__brand-img {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.footer__navigation-items {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 50px;
}

.footer__navigation-item {
    display: inline-block;
}


.footer__navigation-item:not(:last-child) {
    margin-right: 0.625rem;
}

.footer__navigation-item a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: color 0.4s ease;

}
.footer__navigation-item-link:hover {
    color: var(--pink-color);
}

.footer__social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #fff;
    border-radius: 36px;
    color: var(--dark-blue-color);
    font-size: 1rem;
}

.footer__social a:not(:last-child){
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}

.footer__social a:hover {
    background-image: linear-gradient(90deg,#1345e6 0%, #ed239f 100%);
}

.footer__text {
    color: #797979;
}


/* MEDI */
@media only screen and (max-width:991px) {
    /* NAVIGATION-MENU */
    .main-navigation {
        display: none;
    }

    .container {
        width: 95%;
    }


    /* MAIN-SECTION */
    .main-section__img {
        display: none;
    }

    .main-section > div {
        width: 100%;
    }


    /* STATICS */
    .statistics__item {
        width: 100%;
        padding-top: 1rem;
        text-align: center;
    }


    /* ABOUT-ME-SECTION */
    .about-me {
        padding: 1.5rem 0;
    }

    .about-me > div {
        width: 100%;
    }

    .about-me__img {
        display: none;
    }


    /* SERVIVICES SECTION */
    .services{
        padding-top: 1.5rem 0;
    }

    .services-card {
        width: 45%;
        margin-bottom: 20px;
    }

    .services-cards{
        display: flex;
        flex-wrap: wrap;
    }


    /* CLIENT */
    .clients {
        padding: 1.5rem 0;
    }

    .client-item {
        display: flex;
        flex-direction: column;
    }

    .client-item > div {
        width: 100%;
        float: none;
    }

    .clients-item__img {
        width: 100%;
        text-align: center;
    }


    /* BLOG */
    .blog {
        padding: 1.5rem 0;
    }

    .blog-items {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-item {
        width: 45%;
        margin-bottom: 20px;
    }

    .blog-item__info {
        width: 100%;
    }


        /* PARTNER */
        .partners {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 0;
        }

        .partner {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0;
            margin-bottom: 10px;
        }
}


@media only screen and (max-width: 767px) {
    .container {
        width: 92%;
        padding: 0;
    }


    /* MAIN-SECTION */
    .main-banner {
        background:none;
        min-height: auto;
    }

    .main-section__action {
        display: none;
    }


    .main-section__introduction {
        font-size: 3rem;
    }


    /* STATISTICS-SECTION */
    .statistics__item {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }


    /* SERVICES-SECTION */
    .services-cards {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
    }

    .services-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }


    /* BLOG */
    .blog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }


    /* PORTFOLIO */
    .portfolio {
        padding: 1.5rem 0;
    }

    .portfolio-item {
        width: 100%;
    }


    .portfolio-2,
    .portfolio-3 {
        position: static;
    }


    /* FOOTER */
    .footer__navigation {
        display: none;
    }
}